# ----------[ Application Stuff ]----------------------------------------

# Wercker stuff
*.log
_*
# Local environment variables
*.env

# ----------[ OS Stuff ]----------------------------------------
# OS Metadata
.DS_Store
